<%# Parent element for editor interface %>
<div id="editorContainer"></div>
<%# Include JS files containing classes for managing form data and 
rendering editor interface %>
<%= javascript_include_tag 'custom/feedback_forms' %>
<%= javascript_include_tag 'custom/feedback_form_edit_views' %>
<script defer>
  // The JS doesn't get run properly when initially accessing the page from
  // a hyperlink for some reason. I'm probably using the asset pipeline wrong
  // but this is an easier fix
  try {
    // pass JSON representation of form info into JS class object
    // need to do some escaping as quotation and newlines otherwise cause errors
    let formJSON = JSON.parse(`<%= raw escape_characters_in_string(@form_details.to_json) %>`);
    let form = new FeedbackForm(formJSON);

    // render interface
    let formEditView = new FeedbackFormEditView(form, document.getElementById("editorContainer"));
    formEditView.render();
  } catch (error) {
    location.reload();
  }
</script>
