<h1>Contact Us!</h2>

<div class="jumbotron">
  <h3 class="center">Team Members</h3>
  <ul class="users">
    <li>Thomas Li     - <%= link_to "li11315-osu on GitHub", "https://github.com/li11315-osu" %></li>
    <li>Canaan Porter - <%= link_to "Cport28 on GitHub", "https://github.com/CPort28" %></li>
    <li>Austin Greer  - <%= link_to "austin-OS on GitHub", "https://github.com/austin-OS" %></li>
    <li>Alvin Ishimwe - <%= link_to "ai003 on GitHub", "https://github.com/ai003" %></li>
  </ul>
</div>